<template name="MainLayout">
	<div class="ui bottom attached segment">
	  <div class="ui inverted labeled left vertical sidebar menu visible">
			{{> loginButtons}}
	    <a class="item">
	      <i class="chat icon"></i>
	      Conversations
	    </a>
	    <a class="item">
	      <i class="block layout icon"></i>
	      Mentions
	    </a>
	    <a class="item">
	      <i class="smile icon"></i>
	      Followers
	    </a>
	    <a class="item">
	      <i class="calendar icon"></i>
	      Non-Followers
	    </a>
	  </div>
	  <div class="pusher">
	    <div class="ui basic segment">
						{{> Template.dynamic template=main}}
	    </div>
	  </div>
	</div>

</template>
